#container{
    width: 1000px;
}
#box1{
    Border: solid red 1px;
    display: inline-block;
}
#box2{
    Border: solid red 1px;
    display: inline-block;
}
#box3{
    Border: solid red 1px;
    display: inline-block;
}
#box4{
    Border: solid red 1px;
    display: inline-block;
}
#box5{
    Border: solid red 1px;
    display: inline-block;
}
#box6{
    Border: solid red 1px;
    display: inline-block;
}
#box7{
    Border: solid red 1px;
    display: inline-block;
}
#box8{
    Border: solid red 1px;
    display: inline-block;
}